private/
backup_server
backup_project/build/
backup_project/cloud_storage/
tauri-app/src-tauri/bin/backup_server-*
tauri-app/src-tauri/users.db
Test/build/
Test/output/
Test/**/*.log
Test/**/*.db
Test/**/tmp/
